[submodule "deployment"]
	path = deployment
	url = https://github.com/project-ia-modelisation/deployment.git
[submodule "experiments"]
	path = experiments
	url = https://github.com/project-ia-modelisation/experiments.git
[submodule "visualize"]
	path = visualize
	url = https://github.com/project-ia-modelisation/visualize.git
[submodule "model_training"]
	path = model_training
	url = https://github.com/project-ia-modelisation/model_training.git
[submodule "model_serving"]
	path = model_serving
	url = https://github.com/project-ia-modelisation/model_serving.git
[submodule "data_processing"]
	path = data_processing
	url = https://github.com/project-ia-modelisation/data_processing.git
